footer
	.lockup
		.logo {% include icons/logo.html %}
		
		.content-wrap
			nav
				a(href="#about") About Me
				a(href="#about") Work
				a(href="#about") Clients
				a(href="#about") Contact

			p.copyright All content copyright 2015