header
	.logo {% include icons/logo.html %}
	nav
		a(href="#about") About Me
		a(href="#about") Work
		a(href="#about") Clients
		a(href="#about") Contact
		
	h1  
		span {{ site.title }}
	p.kicker {{ site.description }}
	
	